# Enable mod_rewrite
RewriteEngine On

RewriteBase /products/color-kit-grande/ 

# Set the cookie name and expiration (optional)
RewriteRule .* - [E=AB_COOKIE_NAME:ab_test]

# Check if the cookie already exists
RewriteCond %{HTTP_COOKIE} !^.*ab_test=.*$

# Generate a random number using the REMOTE_ADDR (IP address) and REQUEST_TIME (current timestamp)
RewriteRule .* - [E=AB_VARIANT:%{TIME_SEC}]

# Hash the generated value and convert it into a number
#RewriteCond %{ENV:AB_VARIANT} ([0-9]+)
#RewriteRule .* - [E=AB_VARIANT:${env:AB_VARIANT}]

# Assign 50% of traffic to Version B (index_b.html) by checking if the hashed value is odd or even
RewriteCond %{ENV:AB_VARIANT} [02468]$
RewriteRule ^index\.html$ index_b.html [L,R=302]

# Set the cookie to ensure consistent user experience
RewriteRule .* - [CO=ab_test:%{ENV:AB_VARIANT}:thingpulse.com:86400:/]

# If the cookie exists, ensure the user sees the correct version
RewriteCond %{HTTP_COOKIE} ab_test=([0-9]+)
RewriteCond %1 [02468]$
RewriteRule ^index\.html$ index_b.html [L,R=302]